.slide{
    height: 100vh;
    /*background-color: orange;*/
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid orangered;
    background-position: center;
    background-size: cover;
}
.slide h3{
    font-family: Arial;
    font-size: 70px;
}